extends layout
block header
	include ./header.jade	
block content
	div.container
		h2 express
		ul
			li 
				a(href='https://expressjs.com/') website
			li 
				a(href='https://en.wikipedia.org/wiki/Express.js') wiki

