extends layout

block header
	include ./header.jade

block content
	div.container#wtf_is_container
		h2#index_intro a "hello world" introduction to node, express, jade
		hr
		h2 demos:
			.container
				span submit a 
					a(href='/jade') form
				span , read a 
					a(href='/mysql_test') database
		<hr>
		div.wtf_is
			h2 what is 
				a(href='/node') node
				|?
			div.container 
				h3 = #{node_details}
		div.wtf_is		
			h2 what is 
				a(href='/express') express
				|?
			div.container 
				h3 = #{express_details}
		div.wtf_is
			h2 what is 
				a(href='/jade') jade
				|?
			div.container 
				h3 = #{jade_details}
		
