extends layout
block header
	include ./header.jade	
block content
	div.container
		h2 jade
		ul
			li 
				a(href='http://jadelang.net/') website
			li 
				a(href='https://en.wikipedia.org/wiki/Comparison_of_web_template_engines') wiki

