#add_blog_post p {
	width:10%;
}
body {
	font-family: 'Cabin', sans-serif;
}
.container {
	margin-left:10%;
	margin-right:10%;
}
#form_container {
	display:flex;
	flex-direction: row;
}
h1 {
	text-align:right;
}
#index_intro {
	text-align: center;
}
#section_top_hr {
	margin-top:3%;
}
.wtf_is {
	margin-bottom:3%;
}